{% extends 'Base.html' %}
{% load static %}   `
{% block content %}
    <div class="text-center">
        <h1>Attention</h1>
        <hr>
        <img src="{% static 'images/att01.jpg' %}" class="img-fluid w-50 rounded mb-md-2" alt="...">
        <h2 class="text-primary">เกมส์</h2>
        <p class="lead mb-md-3">
            <strong>แนวเกมที่ชอบ: </strong>
            เกมส์เลียนแบบหรือการจำลอง (Simulation Games) ,FPS First Person Shooting , Action RPG, RPG (Role Playing Game), MMORPG Massive Multiplayer Online Role-Playing Game,
            TPS / Third Person Shooting, เกมกีฬา (Sport Game), Visual Novel วิชวลโนเวล, Shooting Game, MOBA Multiplayer Online Battle Arena โมบา, Strategy Game หรือ Tactic.
        </p>
        <img src="{% static 'images/att2.jpg' %}" class="img-fluid w-50 rounded mb-md-2" alt="...">
        <h2 class="text-primary">เพลง</h2>
        <p class="lead mb-md-3">
            <strong>แนวเพลงที่ชอบ: </strong>
            POP ย่อมาจากคำว่า Popular ที่มีความหมายว่า เป็นที่นิยมชมชอบกันทั่วไป ดนตรีพ๊อพจึงมีลักษณะที่ฟังง่าย ติดหู ทำนองไพเราะ ดนตรีไม่มีความสลับซับซ้อน, ROCK เป็นดนตรีที่มีจังหวะจะโคนเร่งเร้ากระชับหนักแน่นโยกย้ายส่ายสะโพกไปมาตามจังหวะด้อย่างเมามัน,
            JAZZ เป็นดนตรีที่มีต้นกำเนิดมาจากทาสผิวดำที่ถูกนำมาเป็นทาสในอเมริกาแถบนิวออร์ลีน, SOUL & FUNK ดนตรีโซล เป็นรากฐานของดนตรีหลายๆแนวในปัจจุบันที่กำลังได้รับความนิยมอยู่ในขณะนี้,
            RAP รากฐานที่แท้จริงของดนตรีจากคนผิวดำอีกแนว ที่ประทับตราได้เด่นชัดที่สุดกว่าแนวอื่นใดทั้งหมดที่เป็นของพวกเขา เพราะเป็นดนตรีที่มาจากการพร่ำป่น การเปล่งเสียงที่มาจากภายในของตัวคน ระบายออกมาเป็นท่วงทำนอง เป็นโคลง ฉันท์ กาพย์ กลอน พรรณนา และปาฐกถา โดยไม่จำเป็นต้องมีเสียงดนตรี,
            Electronic music ดนตรีอิเล็กทรอนิกส์ เป็นดนตรีที่ใช้เครื่องดนตรีอิเล็กทรอนิกส์และเทคโนโลยีดนตรีอิเล็กทรอนิกส์ในการผลิตขึ้นมา
        </p>
        <img src="{% static 'images/att03.jpg' %}" class="img-fluid w-50 rounded mb-md-2" alt="...">
        <h2 class="text-primary">นักออกแบบกราฟิก</h2>
        <p class="lead mb-md-3">
            นักออกแบบกราฟิกหรือนักออกแบบเรขศิลป์ คือ ผู้ออกแบบภาพและตัวอักษรเพื่อใช้ในการสื่อสาร โดยเราสามารถสังเกตได้ว่างานของกราฟิกดีไซน์เนอร์ปรากฎอยู่หลายที่ ทั้งป้ายจราจร แผ่นโฆษณา
            ปกหนังสือ รูปวาด ลายเสื้อ โลโก้สินค้า ตัวอักษร และอีกมากมายรอบตัวล้วนเป็นกราฟิก เพื่อสื่อสารให้ผู้คนเข้าใจความหมายว่าต้องการบอก เตือน ห้าม หรือชักชวน สิ่งเหล่านี้คือหน้าที่ของพวกเขา
        </p>
        <img src="{% static 'images/att04.jpg' %}" class="img-fluid w-50 rounded mb-md-2" alt="...">
        <h2 class="text-primary">นักแต่งเพลง</h2>
        <p class="lead mb-md-3">
            คนที่สร้างเพลงใดเพลงหนึ่งขึ้นมา คิดท่วงทำนอง และเนื้อเพลง มีความคิดสร้างสรรค์ ที่จะนำความรู้สึก หรือเหตุการณ์ต่างๆ
            มาถ่ายทอดเป็นบทเพลงที่มีความหมาย และประทับใจผู้ฟัง นับว่า นักแต่งเพลงมีส่วนสำคัญ ที่จะสร้างความนิยม
        </p>
    </div>
{% endblock %}