{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center">Career</h1>
    <hr>
    <div class="row">
        <div class="col-md-3 mt-2">
            <img src="{% static 'images/car1.jpg' %}" class="img-fluid w-100 rounded" alt="...">
        </div>
        <div class="col-md-9">
            <h2 class="text-primary">นักออกแบบ</h2>
            <p class="lead">ได้สร้าสิ่งที่จินตนาการให้กลายเป็นจริง ได้สื่อสารสิ่งที่ต้องการให้กับผู้คน ได้รู้จักกับผู้คนมากมายที่มาจากหลายอาชีพและสังคม มีโอกาสดูงาน หรือทำงานที่ต่างประเทศ เจอโจทย์ใหม่ที่น่าสนุก ท้าทายอยู่เสมอ เป็นอาชีพไม่มีวันตาย เพราะทุกวงการต้องการงานกราฟิก สามารถเพิ่มเติมความรู้ด้านต่างๆ เพื่อขยายขอบเขตงานได้หลายทาง</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-2">
            <img src="{% static 'images/car02.jpg' %}" class="img-fluid w-100 rounded" alt="...">
        </div>
        <div class="col-md-9">
            <h2 class="text-primary">สตรีมเมอร์</h2>
            <p class="lead">ผู้ที่ทำการ Live การเล่นเกมผ่านสื่อต่าง ๆ ให้ผู้อื่นดูทั้ง Facebook, Youtube และ Twitch เพื่อความสนุกสนานของผู้ชม โดยผู้ชมสามารถทำการบริจาค (Donate) ให้กับผู้ที่สตรีมได้ โดยมากแล้วการสตรีมมักสามารถเข้าดูได้โดยไม่ต้องเสียค่าใช้จ่าย และด้วยความที่เน้นไปสายเกมก็ทำให้เป็นที่นิยมในหมู่เด็กผู้ชายอย่างมาก</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-2">
            <img src="{% static 'images/car03.jpg' %}" class="img-fluid w-100 rounded" alt="...">
        </div>
        <div class="col-md-9">
            <h2 class="text-primary">บาริสต้า</h2>
            <p class="lead">คนที่ให้บริการกาแฟหรืออาหารเบาๆให้แก่ลูกค้าที่อยู่ในร้านกาแฟหรือ Bar โดยบาริสต้าจะต้องมีความรู้และเทคนิคในการควบคุมเครื่องชงกาแฟและเครื่องบดเมล็ดกาแฟ รวมไปถึงเทคนิคในการให้บริการกาแฟคุณภาพเยี่ยม เช่น การทำช็อตเอสเพรสโซ่ได้รสชาติเยี่ยม ฟองนมที่เนียนนุ่ม และเสิร์ฟในอุณหภูมิที่เหมาะสม และเทคนิคในการเสิร์ฟ ลาเต้อาร์ท</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-2">
            <img src="{% static 'images/car04.jpg' %}" class="img-fluid w-100 rounded" alt="...">
        </div>
        <div class="col-md-9">
            <h2 class="text-primary">นักเล่นหุ้น</h2>
            <p class="lead">คนที่ได้ศึกษาหาความรู้ในหุ้นอย่างละเอียด มีความระมัดระวัง รู้ว่าตัวไหนมีพื้นฐานดีและมีโอกาสเติบโตได้ ราคาอยู่ในจังหวะที่ควรจะซื้อได้หรือยังแล้วค่อยเข้าซื้อ และมีการกำหนดการขาดทุน ถึงแม้ว่าในจะมีขาดทุนบ้าง แต่ก็ถือต่อ เพราะคาดการณ์ถึงการเติบโตจากผลประกอบการบริษัทได้และเป็นกำไรในที่สุด</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-2">
            <img src="{% static 'images/car05.jpg' %}" class="img-fluid w-100 rounded" alt="...">
        </div>
        <div class="col-md-9">
            <h2 class="text-primary">นักคิดคอนเท้น</h2>
            <p class="lead">คนคิด Copywriting ที่ชัดเจน ตรงประเด็น เพื่อดึงให้ผู้บริโภคอยากเข้ามามีส่วนร่วม หรืออาจมีรางวัลสำหรับผู้ร่วมแสดงความคิดเห็น เพื่อกระตุ้นความสนใจ เรียกว่านอกจากจะได้การมีส่วนร่วม สนุกคึกคักแล้ว</p>
        </div>
    </div>
{% endblock %}