{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center">Education</h1>
    <hr>
    <div class="text-center">
        <div class="row">
            <div class="col-5">
                <img src="{% static 'images/ed01-02.jpg' %}" class="img-fluid rounded-circle h-50" alt="...">
                <h2 class="text-primary">มหาวิทยาลัยราชมงคลอีสานวิทยาเขตขอนแก่น</h2>
                <p class="lead">สาขาเทคโนโลยีธุรกิจดิจิทัล คณะบริหารธุรกิจและเทคโนโลยีสารสนเทศ</p>
                <h4 class="text-primary">ปัจจุบัน</h4>
            </div>
            <div class="col-7">
                <img src="{% static 'images/ed00.jpg' %}" class="img-fluid rounded" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="{% static 'images/ed03.jpg' %}" class="img-fluid rounded-circle h-50" alt="...">
                <h2 class="text-primary">วิทยาลัยเทคนิคหนองบัวลำภู</h2>
                <p class="lead">สาขาเทคโนโลยีธุรกิจดิจิทัล แผนกคอมพิวเตอร์ธุรกิจ</p>
                <h4 class="text-primary">2020 - 2022</h4>
            </div>
            <div class="col-6">
                <img src="{% static 'images/ed03.jpg' %}" class="img-fluid rounded-circle h-50" alt="...">
                <h2 class="text-primary">วิทยาลัยเทคนิคหนองบัวลำภู</h2>
                <p class="lead">สาขาคอมพิวเตอร์ธุรกิจ แผนกคอมพิวเตอร์ธุรกิจ</p>
                <h4 class="text-primary">2017 - 2019</h4>
            </div>
        </div>
        <img src="{% static 'images/ed04.jpg' %}" class="img-fluid rounded w-75 mb-md-2" alt="...">
    </div>

{% endblock %}