{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center">Idol</h1>
    <hr>
    <div class="row mt-md-5">
        <div class="col-md-4 p-3">
            <img src="{% static 'images/idol1.jpg' %}" class="img-fluid rounded w-100" alt="...">
        </div>
        <div class="col-md-8 p-3">
            <h2 class="text-primary">มิสเตอร์บีสต์ (Mr.Beast)</h2>
            <p class="lead">จิมมี ดอนัลด์สัน (อังกฤษ: Jimmy Donaldson; เกิด: 7 พฤษภาคม พ.ศ. 2541) รู้จักกันดีในนาม มิสเตอร์บีสต์ (อังกฤษ: MrBeast), เป็นยูทูบเบอร์ชาวอเมริกัน เขาได้รับการกล่าวขานว่าเป็นผู้บุกเบิกวีดิทัศน์ยูทูบแนวการแสดงโลดโผนที่มีการลงทุนราคาแพง ช่องยูทูบหลักของเขา "MrBeast" เป็นช่องที่มีผู้ติดตามมากที่สุดเป็นอันดับห้าบนยูทูบ</p>
            <p class="lead">ดอนัลด์สันได้เริ่มอัปโหลดวีดิทัศน์บนยูทูบเมื่อช่วงต้นปี พ.ศ. 2552 ตอนที่อายุ 13 ปี ภายใต้ฉอนเดิลว่า "MrBeast6000" เขาทำวีดิทัศน์แบบเลสเพลย์ไปจนถึงหัวข้อ "ความมั่งคั่งของยูทูบเบอร์คนอื่นจากการทำวีดิทัศน์" ในปี พ.ศ. 2560 เขาอัปโหลดไวรอลวิดีโอ โดยเริ่มหลังจากวีดิทัศน์ "นับครบ 100,000 ครั้ง" ในเวลาเพียงไม่กี่วันเขาได้รับการดูหลายหมื่นครั้ง และเขาก็ได้รับความนิยมมากขึ้นเรื่อยมานับแต่นั้น โดยวีดิทัศน์ส่วนใหญ่ของเขาได้รับการดูหลายสิบล้านครั้ง ในเวลาต่อมา รูปแบบเนื้อหาของเขามีความหลากหลายอย่างวีดิทัศน์แนวท้าทายและการแข่งขันชิงเงินที่ให้รางวัลหลายพันดอลลาร์ วีดิทัศน์ที่มีความยากลำบากหรือความท้าทายเพื่อเอาชีวิตรอด และออลิจินัลวล็อก เมื่อช่องของเขาเริ่มต้นขึ้น ดอนัลด์สันได้ว่าจ้างเพื่อนในวัยเด็กหลายคนเพื่อช่วยเหลือช่องยูทูบของเขาที่กำลังเติบโต</p>
            <p class="lead">ช่องยูทูบหลักของดอนัลด์สันมีผู้ติดตามถึง 100 ล้านคนในวันที่ 28 กรกฎาคม พ.ศ. 2565 นั่นคือ "MrBeast" นอกจากนี้ เขาได้ทำช่องยูทูบอย่าง Beast Reacts, MrBeast Gaming, MrBeast Shorts, และช่องการกุศล เขาเป็นหนึ่งในสิบยูทูบเบอร์ที่ได้รับค่าตอบแทนสูงสุดในปี พ.ศ. 2563 ดอนัลด์สันยังเป็นผู้ก่อตั้งมิสเตอร์บีสเบอเกอร์ (MrBeast Burger) กับฟีสเทอเบอร์ (Feastables) และผู้ร่วมสร้างโครงการทีมทรีส์ (Team Trees) ซึ่งเป็นการระดมทุนสำหรับมูลนิธิอะบอเดย์ ซึ่งระดมทุนได้มากกว่า 23 ล้านดอลลาร์สหรัฐ และทีมซีส์ (Team Seas) ซึ่งเป็นการระดมทุนสำหรับโอเชียนคอเซอเวนซีและดิโอเชียนคลีนอัป ซึ่งระดมทุนได้มากกว่า 30 ล้านดอลลาร์สหรัฐ</p>
        </div>
    </div>
    <img src="{% static 'images/idol2.jpg' %}" class="img-fluid rounded w-100 mb-md-3" alt="...">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/idol3.jpeg' %}" class="img-fluid rounded w-100" alt="...">
        </div>
        <div class="col-md-6">
            <iframe width="780" height="440" src="https://www.youtube.com/embed/GLoeAJUcz38" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/idol4.jpeg' %}" class="img-fluid rounded w-100" alt="...">
        </div>
        <div class="col-md-6">
            <iframe width="780" height="440" src="https://www.youtube.com/embed/7gYpJotNUEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
{% endblock %}